@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');

* {
    font-family: 'Brygada 1918', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    min-width: 200px;
}

body {
    background-color: gray;
    box-sizing: border-box;

    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 65px min-content 2em auto min-content min-content;
    grid-template-areas:
        'cabecera'
        'scrumb'
        'menu'
        'main'
        'aside'
        'pie';
}

body * {
    box-sizing: content-box;
}


/* Enlaces en el cuerpo de la página:
    Si no se ha visitado: azul enlace
    Si se ha visitado: morado enlace */

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple
}

a:active {
    color: #D9AD5B
}

a:hover {
    color: white;
    text-decoration: underline;

}


/* Cabecera de la página */

header {
    background-color: #BF7F30;
    color: black;
    box-sizing: content-box;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 7px 7px 0px 7px;
    grid-area: cabecera;
}

.logo {
    width: 50px;
    height: 50px;
}

/* BREADCRUMB */
nav.breadcrumb {

    background-color: #BF7F30;
    box-sizing: content-box;
    width: 100%;
    grid-area: scrumb;
}

ul.breadcrumb {
    background-color: #BF7F30;
    box-sizing: content-box;
    list-style: none;
    width: 100%;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li::before {
    content: " > ";
}

ul.breadcrumb li a {
    color: black;
}

ul.breadcrumb li a:hover {
    color: white;
}


/* Botones navegación */

/* Desplegable verticales */
div.desplegable {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #4CAF50;
    grid-area: menu;
}

span.desplegable,
.btn-group {
    width: 100%;
}

.btn-group {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
}

div.desplegable:hover .btn-group {
    display: block;
}

.btn-group li,
span.desplegable {
    background-color: #D9AD5B;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #8C4F2B;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    float: left;
    width: 100%;
    height: 2em;

}

.btn-group a {
    margin: auto;
    padding: auto;
    color: black;

}

.btn-group li:hover a {
    color: white;
}

.btn-group a:hover {
    color: white;

}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


.btn-group li:not(:last-child) {
    border-bottom: none;
}

/* Add a background color on hover */
.btn-group li:hover {
    text-decoration: underline;
    background-color: #8C4F2B;
}


/* Cuerpo de la página */

main {
    box-sizing: content-box;
    background-color: gray;
    color: black;
    grid-area: main;

}




aside {
    grid-area: aside;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;


    background-color: gray;
    padding: 0.5em;
}

aside div {
    /* width: 100%; */
    /* min-width: 200px; */
    max-width: calc(250px - 2em);

    width: auto;
    height: auto;
    margin: 0.5em;
    /* border: 1px solid black; */
}

aside .texto {
    width: auto;
    max-width: calc(248px - 3em);
    background-color: white;
    padding: 1em 0.5em;
    border: 1px solid black;
    border-radius: 10px;


}

aside .texto li {

    margin-left: 1.5em;
}

aside div img {
    width: 100%;
    height: auto;
}

/* Pie de página */

footer {
    background-color: #BF7F30;
    color: #D9AD5B;
    padding: 12px;
    grid-area: pie;
    display: grid;
    grid-template-columns: auto 80px;
    grid-template-rows: auto auto;
    grid-template-areas:
        'small small'
        'dir   logo ';
}

footer small {
    grid-area: small;
}

footer address {
    margin-top: 1em;
    grid-area: dir;

}

#logo_footer {
    margin: 1em auto 0 auto;
    display: flex;
    flex-direction: column;
    grid-area: logo;

}

footer .logo {
    width: 70px;
    height: 70px;
}




/* Elementos de los formularios */

form {
    background-color: #D9D9D9;
    color: #8c4f2b;
    border: 1px solid #8c4f2b;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

form h2 {
    margin-bottom: 0.2em;
}

form ul {
    list-style: none;
    padding: 0;
}

form input {
    margin-bottom: 0.6em;
}

.radioButton {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.loginico {
    margin-right: 0.4em;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}



.aceptar {
    background-color: #D9AD5B;
    color: black;
    padding: 0.4em 0.6em;
    margin: 0.5em 0.5em 0.5em 0;
}

.cancelar {
    background-color: #D9D9D9;
    color: black;
    padding: 0.4em 0.6em;
    margin: 0.5em 0.5em 0.5em 0;
}


@media (min-width: 500px) {

    /* Botones navegación */

    /* Desplegable verticales */
    div.desplegable {
        display: flex;
    }

    span.desplegable,
    .btn-group {
        width: 100%;
    }

    .btn-group {
        display: flex;
    }

    /* para que ya no se despliegue */
    div.desplegable:hover .btn-group {
        display: flex;
    }

    span.desplegable {
        display: none;
    }

    .btn-group li {
        border: 1px solid black;
        display: flex;
        min-width: max-content;
        padding: 0 0.5em;

    }

    .btn-group li:not(:last-child) {
        border-bottom: 1px solid black;
    }

    footer {

        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-template-areas:
            'dir small logo ';
    }

    footer small {
        margin: 1em 1em 0 1em;
    }
}


@media (min-width: 1000px) {

    body {
        grid-template-columns: 1fr 300px;
        grid-template-rows: 65px min-content 2em auto min-content;
        grid-template-areas:
            'cabecera cabecera'
            'scrumb scrumb'
            'menu menu'
            'main aside'
            'pie pie';
    }



    ;

}