/* ---------- FUENTES ---------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* 
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Times, serif;
} */



/* ---------- GENERAL ---------- */

* {
    padding: 0;
    margin: 0;
}

html {
    overflow-y: scroll visible;
    overflow-x: scroll visible;
}

html,
body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    font-size: 14px;
    line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
    /* font-size: 22px; */
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
    font-variant: small-caps;
}

/* address {
    font-style: normal;
    font-weight: normal;
} */

hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 1px solid black;

}



*,
*::before,
*::after {
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

/* en uso */
.hidden {
    display: none !important;
}

/* en uso */
.flex {
    display: flex !important;
}

.block {
    display: block;
}

.inline,
.inline * {
    display: inline;
}

.nospace {
    list-style: none;
    margin: 0;
    padding: 0;
}

.superpuesto {
    z-index: 1;
    position: relative;
}

/* .overlay::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
} */

.circular {
    border-radius: 50%;
    background-clip: padding-box;
}

img {
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    /* line-height: normal;
    vertical-align: middle; */
}




/* ---------- FORMULARIOS ---------- */

form,
fieldset,
legend {
    margin: 0;
    padding: 0;
    border: none;
}

/* legend {
    display: none;
} */

label,
input,
textarea,
select,
button {
    display: block;
    resize: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    /* vertical-align: middle; */
}

label {
    margin-bottom: 5px;
}

/* 
:required,
:invalid {
    outline: none;
    box-shadow: none;
} */


/* ---------- ENLACES ---------- */
a {
    color: blue;
    text-decoration: none;
}


a:hover,
a:focus {
    color: #f40;
}


/* ---------- INFO CONTACTO ---------- */

.telefono {
    padding-left: 1.1em;
    background-image: url("../imagenes/icons/was.ico");
    background-size: 1em auto;
    background-repeat: no-repeat;
    background-position-y: center;
}

.email {
    padding-left: 1.2em;
    background-image: url("../imagenes/icons/sobre.ico");
    background-size: 1em auto;
    background-repeat: no-repeat;
    background-position-y: center;
}


/* ---------- VERSIÓN MOVIL ---------- */

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
        min-content min-content min-content auto min-content min-content;
    grid-template-areas:
        'cabecera'
        'menú'
        'migas'
        'cuerpo'
        'aside'
        'pie';
}


/* HEADER */

header {
    grid-area: cabecera;
    background-color: white;
    align-items: center;
    width: 100%;
    height: min-content;
    /* color: #f40; */

    display: flex;
    /* justify-content: flex-end; */
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: min-content;
    border-bottom: 1px solid #f40;
}

header a {
    color: red;
}

#logoYTitulo {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#logoCabecera {
    height: 5em;
    width: 5em;
    margin: 0.5em;
}


#logoYTitulo h1 {
    width: min-content;
    margin: auto;
    padding-right: 7px;


}

#botonMenu {
    width: 2.4em;
    font-size: 2.5em;
    margin: auto 0;
    text-align: center;
    color: red;
}

#botonMenu:hover,
#botonMenu:focus {
    color: #f40;
}

#botonMenu:active {
    color: rgb(200, 0, 0);
}

/* TODO: 
sacar el boton menu de la calse desplegable y quizá hasta sobre la clase.
ocultar el btn-group.
mostrar al hacer click en el boton menu, que será hijo del  header, por lo que quizá hay que meterle a este un wrap y dar al btn-group width de 100%  ver si funciona de una vez
*/
#menu {
    display: none;
    grid-area: menú;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: max-content;
    text-align: center;
    flex-direction: column;
}

#menu li {
    box-sizing: content-box;
    height: min-content;

    border-top: 1px solid #f40;
    /* border-bottom: 1px solid #f40; */
}

#menu a {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    /* color: red; */
}

/* 
#menu li:not(:last-child) {
    border-bottom: none;
} */

/* #menu a:focus {
    color: white;
} */

#menu li a:hover {
    color: white;
    background-color: #f76;
}

#menu a:active {
    color: black;
}

#tiposTraduccion {
    display: none;
}

#cambioIdiomaEscritorio {
    display: none;
}



/* BREADCRUMB */

ul.breadcrumb {
    display: block;
    grid-area: migas;
    list-style: none;
    width: max-content;
    margin: 0.5em 0 0.5em 1em;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li::before {
    content: ">";

}

/* Sólo para el último */
ul.breadcrumb li a {
    color: black;
}

/* Para todos menos el último */
ul.breadcrumb li:not(:last-child) a {
    color: darkblue;
    text-decoration: underline;
}

/* Para todos menos el último */
ul.breadcrumb li:not(:last-child) a:hover {
    color: blue;
}


/*  */
main {
    grid-area: cuerpo;
    background-color: white;
    padding: 1em;
}

/*  */
aside {
    grid-area: aside;
    background-color: purple;
    display: none;
}

/*  */

footer {
    background-color: #fc9;
    grid-area: pie;
    display: flex;
    flex-wrap: wrap-reverse;
    /* justify-items: flex-start; */
    /* align-content: flex-start; */
    /* justify-content: space-evenly; */
    align-items: center;

    padding: 1em calc(5% - 0.5em) 0 calc(5% - 0.5em);
}



#logoYCopyR {
    margin: 0 auto 1em 0;
    min-width: min-content;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

#logoYCopyR .logo {
    width: 70px;
    height: auto;
    margin: auto;
}


footer address {
    text-align: center;

}

.botonPresupuesto {
    display: block;
    background-color: blueviolet;
    border-radius: 40% 1mm;
    text-align: center;
    color: white;
    width: max-content;
    height: min-content;
    /* position: absolute;
    left: calc(100% - 10em); */
    margin-left: auto;
    margin-right: 0.5em;
    padding: 1.2em;
}









/* ---------- VERSIÓN ORDENADOR PEQUEÑO/TABLET ---------- */

@media screen and (min-width: 600px) {
    /* body {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows:
            min-content min-content min-content auto min-content min-content;
        grid-template-areas:
            'cabecera cabecera'
            'menú     menú'
            'migas    migas'
            'cuerpo   aside'
            'pie      pie';
    } */

    /* HEADER */

    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    #logoYTitulo {
        width: max-content;
        display: flex;
        flex-direction: row;
        /* justify-content: flex-start;
        align-items: flex-start;
        justify-items: flex-start;
        align-content: flex-start; */
        justify-items: flex-end;
        align-content: flex-end;
        margin-top: 7px;
        margin-right: 18%;

    }


    #logoCabecera {
        /* height: 5em;
        width: 5em;
        margin: 0.5em; */
        /* margin: 2px; */
        margin-bottom: 7px;
    }

    #logoCabecera:hover {
        background-color: rgb(245, 245, 245);
        cursor: pointer;
    }

    #logoYTitulo h1:hover {
        background-color: rgb(245, 245, 245);
        cursor: pointer;
    }

    #botonMenu {
        display: none;
    }


    #menu {
        display: flex !important;
        grid-area: menú;
        list-style: none;
        margin: auto;
        padding: 0;
        width: max-content;
        height: max-content;
        text-align: center;
        flex-direction: row;
    }

    #menu li {
        box-sizing: content-box;
        height: min-content;

        border: none;
    }

    #menu a {
        padding: 1em 1.3em;
    }

    #menu li:not(:last-child) {
        border-right: none;
    }


    #tiposTraduccion {
        background-color: rgb(252, 252, 252);
        list-style: none;

        border: 1px solid #f40;
        border-top: none;

        display: none;
        position: absolute;
        z-index: 1;
        width: max-content;
    }

    #traduccion:hover #tiposTraduccion {
        display: block;
    }


    #listaServicios {
        background-color: rgb(252, 252, 252);
        list-style: none;

        border: 1px solid #f40;
        border-top: none;

        display: none;
        position: absolute;
        z-index: 1;
        width: max-content;
    }

    #otrosServicios:hover #listaServicios {
        display: block;
    }

    #cambioIdiomaMovil {
        display: none;
    }

    #cambioIdiomaEscritorio {
        display: block;
        position: absolute;
        font-size: 2em;
        top: 1em;
        right: 1em;
        z-index: 1;
    }

    /* .es {
        margin-right: 0.1em;
    } */






    /*  */

    footer {
        /* display: flex;
        flex-wrap: wrap-reverse;
        justify-items: flex-start;
        align-content: flex-start;
        justify-content: space-between;
        align-items: center; */
    }

    /* TODO: footer */

}



@media screen and (min-width: 630px) {
    #menu a {
        padding: 1em 1.5em;
    }

}