#tituloPagina {
    background: url(../../imagenes/laptopcoffenotebook.jpg) fixed 50% 50%;
    background-size: cover;
}


.col-sm- {
    border: 1px solid red;
}

.row div {
    border: 1px solid red;
    border-radius: 10px;
}